## Chemical Signiture densities
Visualization of category acerage colored by description. a selection on category that changes the measurements on a barplot below.

In [30]:
import pandas as pd
import numpy as np
import altair as alt
import ipywidgets as widgets
from IPython.display import display
import warnings
warnings.filterwarnings('ignore')

# enable correct rendering
alt.renderers.enable('default')

# uses intermediate json files to speed things up
alt.data_transformers.enable('json')


pd.set_option('display.max_columns', None)

In [31]:
chem_data = pd.read_csv('assets/chem_data_merged.csv', index_col=0)
survey_data = pd.read_csv('assets/combined_tables.csv', index_col=0)
print('The size of the chem_data dataframe')
print('columns:', chem_data.shape[1])
print('rows   :', chem_data.shape[0])
display(chem_data.sample(5))
print('The size of the survey_data dataframe')
print('columns:', survey_data.shape[1])
print('rows   :', survey_data.shape[0])
survey_data.sample(5)

The size of the chem_data dataframe
columns: 26
rows   : 284535

,LakeID,LakeStationNo,LakeStationType,Lat,Long,Town,ProjectID,VisitDate,VisitNumber,StartTime,CollectionMethodID,Depth,ActivityCategory,CharacteristicID,Symbol,Result,Calcs,ProjRemark,RemarkCode,DepthStratumCode,year,population,CharacteristicName,UnitCode,SampleFraction,NormResult
225650,SOUTH (MARLBR),1,Pelagic,42.84377,-72.71436,MARLBORO,AcidLake,1985-05-27,1,1305.0,PlasticKemm,9.0,Reg,DSO4,NaN,5.20,Y,NaN,NaN,H,1985,NaN,Dissolved Sulfate,mg/l,Dissolved,0.447964
257758,TICKLENAKED,1,Pelagic,44.19067,-72.09890,RYEGATE,LakeAsmt,2005-08-18,1,1101.0,Hydrolab,12.0,Reg,PH,NaN,7.01,Y,NaN,NaN,NaN,2005,1174.0,pH,None,NaN,0.501562
157813,MAIDSTONE,1,Pelagic,44.65036,-71.64738,MAIDSTONE,SpringTP,2006-04-28,1,1236.0,Hydrolab,23.0,Reg,DO,NaN,10.18,Y,NaN,NaN,NaN,2006,168.0,Dissolved Oxygen,mg/l,NaN,0.116343
149820,LITTLE ROCK,1,Pelagic,43.40000,-72.95670,WALLINGFORD,AcidLake,1992-05-21,1,1030.0,PlasticKemm,1.0,Reg,TP,NaN,8.00,Y,NaN,NaN,NaN,1992,2198.0,Total Phosphorus,ug/l,Total,0.003472
172679,MOREY,1,Pelagic,43.92470,-72.15330,FAIRLEE,LayMon,2011-08-20,1,1135.0,Secchi,NaN,Reg,SECCHI,NaN,7.00,Y,NaN,NaN,NaN,2011,979.0,Secchi transparency,m,NaN,0.442685

The size of the survey_data dataframe
columns: 36
rows   : 773

,LakeID,Description,Lat,Long,Town,Shape_Length,Shape_Area,TREE_CANOPY_acres,GRASS_SHRUBS_acres,BARE_SOIL_acres,WATER_acres,BUILDINGS_acres,ROADS_acres,OTHER_PAVED_acres,RAILROADS_acres,Ag_Hay_acres,Ag_Crops_acres,Ag_Pasture_acres,Ag_Total_acres,Imp_Bare_Soil_acres,Imp_Buildings_acres,Imp_Other_Paved_acres,Imp_Road_acres,Imp_Railroad_acres,Imp_Total_acres,Shrub_Shrubs_acres,Shrub_Total_acres,TC_Coniferous_acres,TC_Deciduous_acres,TC_Total_acres,Wet_Emergent_acres,Wet_Forested_acres,Wet_Scrub_Shrub_acres,Wet_Total_acres,from_file,2016_population
254,GLEN,Buffer250ftWaterbody,43.66640,-73.24170,CASTLETON,1.360004e+04,4.979426e+05,118.069487,3.118033,0.058379,0.851833,0.108232,0.499955,0.329823,0.0,0.000000,0.000000,0.0000,0.000000,0.057529,0.131592,0.413859,0.594355,0.0,1.197335,0.000000,0.000000,90.195470,27.950690,118.146160,0.547696,18.802300,0.116925,19.466920,AOIs_GLEN.xls,4554.0
752,WINONA,Buffer250ftWaterbody,44.17527,-73.09047,BRISTOL,1.446513e+04,5.273330e+05,27.354338,98.379358,0.000000,4.346515,0.017050,0.204232,0.000000,0.0,0.119359,0.170677,0.0000,0.290036,0.000000,0.181431,0.045410,0.218766,0.0,0.445607,99.640090,99.640090,11.795014,15.560428,27.355443,93.895554,2.982465,0.793225,97.671243,AOIs_WINONA.xlsx,3906.0
496,MITCHELL,Buffer250ftWaterbody,43.74729,-72.40377,SHARON,3.800149e+03,1.339002e+05,30.024925,1.872685,0.000000,1.190552,0.000247,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.000270,0.000000,0.000000,0.0,0.000270,0.000000,0.000000,16.484169,13.554376,30.038545,0.024467,5.224038,2.242089,7.490595,AOIs_MITCHELL.xls,1520.0
309,HARRIMAN (WHITHM),Buffer100ftWBFL,42.79830,-72.90860,WHITINGHAM,1.596050e+06,4.880501e+07,9392.543768,1418.074560,28.222171,1080.930243,13.992012,75.610547,49.009138,0.0,152.511556,7.259090,26.5225,186.293146,43.685131,14.828932,56.385133,92.137483,0.0,207.036678,244.794938,244.794938,2894.206671,6509.398670,9403.605341,933.834938,2452.494808,138.380083,3524.709830,AOIs_HARRIMANWHITHM.xls,1321.0
701,SUNSET (BENSON),Buffer250ftWaterbody,43.75476,-73.27261,BENSON,9.128133e+03,3.261269e+05,70.484539,6.566198,0.000000,0.506442,0.949501,0.839539,1.232560,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,1.237170,1.487214,2.389061,0.0,5.113445,0.127629,0.127629,41.288789,29.418448,70.707237,0.000000,6.203401,0.325946,6.529347,AOIs_SUNSETBENSON.xls,1020.0

In [65]:
# for this visulaization we need the chem_data from 2016 and the LakeID to merge on, the 'CharacteristicID,
# CharacteristicName, UnitCode, and the Result
chem_data_to_merge = chem_data[((chem_data['year'] <= 2016) & (chem_data['year'] >= 2013))].drop('population', axis=1)
chem_data_to_merge = chem_data_to_merge[['LakeID', 'CharacteristicID', 'CharacteristicName', 'Result']].copy()

# Now we Groupby LakeID as we want one measurement: the mean result of each measurement type per lake.
chem_data_to_merge = chem_data_to_merge.groupby(['LakeID', 'CharacteristicID', 'CharacteristicName']).mean().reset_index()
chem_data_to_merge.sample(10)

,LakeID,CharacteristicID,CharacteristicName,Result
2431,MUD (WOODFD),DK,Dissolved Potassium,0.333000
3415,SPRUCE (WILMTN),DNA,Dissolved Sodium,4.556000
1753,LILY (VERNON),GRANALK,Alkalinity measured using Gran Alkalinity,2.450000
1292,HARDWOOD,DCA,Dissolved Calcium,1.458937
3629,SUGAR HOLLOW,TN,Total Nitrogen,0.200500
319,BOURN,TMG,Total Magnesium,0.315000
405,BURBEE,TCA,Total Calcium,2.947000
1320,HARRIMAN (WHITHM),DNA,Dissolved Sodium,4.560000
3748,TURTLE,DNA,Dissolved Sodium,0.763500
858,ELFIN,TCL,Total Chloride,8.080000

In [66]:
# Combine the subcategories in the description
cols_from_survey = ['LakeID', 'TREE_CANOPY_acres', 'GRASS_SHRUBS_acres', 'BARE_SOIL_acres', 'WATER_acres', 
                    'BUILDINGS_acres','ROADS_acres', 'OTHER_PAVED_acres', 'RAILROADS_acres', 'Ag_Hay_acres', 
                    'Ag_Crops_acres', 'Ag_Pasture_acres', 'Ag_Total_acres', 'Imp_Bare_Soil_acres', 
                    'Imp_Buildings_acres', 'Imp_Other_Paved_acres', 'Imp_Road_acres', 'Imp_Railroad_acres', 
                    'Imp_Total_acres', 'Shrub_Shrubs_acres', 'Shrub_Total_acres', 'TC_Coniferous_acres', 
                    'TC_Deciduous_acres', 'TC_Total_acres', 'Wet_Emergent_acres', 'Wet_Forested_acres', 
                    'Wet_Scrub_Shrub_acres', 'Wet_Total_acres']
survey_data_grouped = survey_data[cols_from_survey].groupby('LakeID').sum().reset_index()
survey_data_grouped.sample(10)

,LakeID,TREE_CANOPY_acres,GRASS_SHRUBS_acres,BARE_SOIL_acres,WATER_acres,BUILDINGS_acres,ROADS_acres,OTHER_PAVED_acres,RAILROADS_acres,Ag_Hay_acres,Ag_Crops_acres,Ag_Pasture_acres,Ag_Total_acres,Imp_Bare_Soil_acres,Imp_Buildings_acres,Imp_Other_Paved_acres,Imp_Road_acres,Imp_Railroad_acres,Imp_Total_acres,Shrub_Shrubs_acres,Shrub_Total_acres,TC_Coniferous_acres,TC_Deciduous_acres,TC_Total_acres,Wet_Emergent_acres,Wet_Forested_acres,Wet_Scrub_Shrub_acres,Wet_Total_acres
121,SABIN,9510.975882,1786.734031,15.854751,771.288157,28.328426,93.555806,79.509246,0.000000,386.164897,0.202440,14.265358,400.632695,19.933428,30.423191,86.070875,136.555733,0.000000,272.983227,208.492124,208.492124,2827.814031,6711.678493,9539.492524,413.307723,1044.377300,112.852609,1570.537632
153,ZACK WOODS,118.659265,2.601583,0.024402,3.692490,0.000000,0.326302,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.053199,0.000000,0.000000,0.654104,0.000000,0.707303,0.000000,0.000000,83.760521,35.003714,118.764235,0.000000,2.026846,0.054240,2.081086
0,ABENAKI,693.593218,58.915268,0.306719,3.657278,1.214706,2.771406,1.779588,0.000000,16.739714,0.000000,0.000000,16.739714,0.512132,1.318257,2.212790,5.011786,0.000000,9.054965,0.000000,0.000000,344.856252,349.232055,694.088307,19.873036,48.914243,0.747919,69.535198
109,PARKER,4212.052803,1881.497439,2.773136,78.947020,15.589360,41.663756,27.883143,0.000000,1279.188151,15.830940,19.696165,1314.715257,3.145317,16.794353,30.652178,54.998195,0.000000,105.590043,144.638175,144.638175,2190.055548,2028.166332,4218.221879,170.058850,856.723647,103.808032,1130.590529
67,INDIAN BROOK (ESSEX),830.058004,93.526771,0.408341,30.866071,0.290843,0.571245,0.699492,0.000000,4.926252,0.000000,0.000000,4.926252,0.416373,0.384667,0.815617,1.784077,0.000000,3.400734,45.426633,45.426633,307.869147,523.339025,831.208172,49.102383,60.796624,2.990627,112.889634
111,PENSIONER,60686.408594,13193.359426,148.082181,5222.515434,115.402606,400.802210,503.126722,36.444899,5412.170094,368.309779,0.000000,5780.479874,164.040244,120.090860,559.247410,514.696085,36.933382,1395.007982,2062.644455,2062.644455,19564.940354,41199.900802,60764.841155,2716.872501,13302.685317,1324.528549,17344.086367
23,COLTON,676.456980,89.626404,4.539998,3.580243,1.866322,7.741614,8.785386,0.000000,0.000000,0.000000,0.000000,0.000000,4.754658,2.210135,10.111182,9.566036,0.000000,26.642011,0.000000,0.000000,117.806199,559.571212,677.377411,4.478433,45.097703,7.897290,57.473426
87,LOWER,2578.078712,996.856535,1.541688,362.651607,23.999888,37.490709,61.119630,0.000000,538.174162,0.352495,20.016091,558.542748,1.825243,26.267451,70.638476,57.646470,0.000000,156.377640,33.638086,33.638086,815.377909,1770.830300,2586.208208,164.112274,474.056422,23.152690,661.321386
28,DEER PARK,587.840988,36.255678,0.594349,20.569206,0.058193,1.001022,0.042255,0.000000,0.000000,0.000000,0.000000,0.000000,0.609950,0.069021,0.059366,3.213612,0.000000,3.951949,12.465403,12.465403,163.258723,424.866206,588.124929,16.308604,125.307183,11.265717,152.881503
45,FOREST (CALAIS),2570.374534,417.117750,3.384474,164.754232,7.440084,17.936364,19.764446,0.000000,56.293421,0.000000,6.247832,62.541253,3.886553,8.399008,22.228422,34.731003,0.000000,69.244985,88.074097,88.074097,733.715829,1842.276224,2575.992053,113.623153,250.713141,88.158520,452.494813

In [81]:
merged_data = survey_data_grouped.merge(chem_data_to_merge, how='inner', on='LakeID').drop('LakeID', axis=1)
print(merged_data.shape)

(1380, 30)

In [88]:
corr_df = pd.DataFrame(index=merged_data.columns[:-3])
for char in merged_data['CharacteristicID'].unique():
    df = merged_data[merged_data['CharacteristicID'] == char]
    # because we are calculating correlations if there are measuremetns with less than 5 measurements
    #  we will drop them as the correlation wont make sense or will be misleading
    if df.shape[0] < 20:
        continue
    else:
        df = df.corr()
        df.drop('Result', axis=0, inplace=True)
        df.rename(columns={'Result': char}, inplace=True)
        corr_df[char] = df[char]

# replace all nan values with 0
corr_df.fillna(0, inplace=True)
# drop a column if the entire column is 0
for col in corr_df.columns:
    if corr_df[col].sum() == 0:
        corr_df.drop(col, axis=1, inplace=True)
corr_df = corr_df.reset_index().rename(columns={'index': 'survey_type'})
corr_df.shape

(27, 22)

In [89]:
# melt the data for visualization
corr_df_for_vis = pd.melt(corr_df, id_vars='survey_type', var_name='CharacteristicID', value_name='correlation')
# merge CharacteristicName
corr_df_for_vis = corr_df_for_vis.merge(merged_data[['CharacteristicID', 'CharacteristicName']].drop_duplicates(), how='left', on='CharacteristicID')
# lets take the abs value of the corelation column so that we can compare them
# corr_df_for_vis['correlation'] = np.abs(corr_df_for_vis['correlation'])
corr_df_for_vis

               survey_type CharacteristicID  correlation CharacteristicName
0        TREE_CANOPY_acres             CHLA    -0.148992      Chlorophyll-a
1       GRASS_SHRUBS_acres             CHLA    -0.004876      Chlorophyll-a
2          BARE_SOIL_acres             CHLA    -0.142859      Chlorophyll-a
3              WATER_acres             CHLA    -0.120098      Chlorophyll-a
4          BUILDINGS_acres             CHLA    -0.117590      Chlorophyll-a
..                     ...              ...          ...                ...
562         TC_Total_acres          TURBNTU     0.016433          Turbidity
563     Wet_Emergent_acres          TURBNTU    -0.006623          Turbidity
564     Wet_Forested_acres          TURBNTU     0.031755          Turbidity
565  Wet_Scrub_Shrub_acres          TURBNTU     0.047727          Turbidity
566        Wet_Total_acres          TURBNTU     0.027297          Turbidity

[567 rows x 4 columns]

In [90]:
_0_condition = alt.condition(alt.datum.correlation == 0, alt.value('white'), alt.Color('correlation:Q'))

chart = alt.Chart(corr_df_for_vis).mark_rect().encode(
    x=alt.X('survey_type:N'),
    y=alt.Y('CharacteristicName:N'),
    color=_0_condition,
    tooltip=[alt.Tooltip('CharacteristicName'), alt.Tooltip('CharacteristicID'), alt.Tooltip('survey_type', title='Survey Type'), alt.Tooltip('correlation')]
)
display(chart)

alt.Chart(...)