## Chemical Signiture densities
Visualization of category acerage colored by description. a selection on category that changes the measurements on a barplot below.

In [1]:
import pandas as pd
import numpy as np
import altair as alt
import ipywidgets as widgets
from IPython.display import display
import warnings
warnings.filterwarnings('ignore')

# enable correct rendering
alt.renderers.enable('default')

# uses intermediate json files to speed things up
alt.data_transformers.enable('json')


pd.set_option('display.max_columns', None)

In [2]:
chem_data = pd.read_csv('assets/chem_data_merged.csv', index_col=0)
survey_data = pd.read_csv('assets/combined_tables.csv', index_col=0)
print('The size of the chem_data dataframe')
print('columns:', chem_data.shape[1])
print('rows   :', chem_data.shape[0])
display(chem_data.sample(5))
print('The size of the survey_data dataframe')
print('columns:', survey_data.shape[1])
print('rows   :', survey_data.shape[0])
survey_data.sample(5)

The size of the chem_data dataframe
columns: 26
rows   : 284912

,LakeID,LakeStationNo,LakeStationType,Lat,Long,Town,ProjectID,VisitDate,VisitNumber,StartTime,CollectionMethodID,Depth,ActivityCategory,CharacteristicID,Symbol,Result,Calcs,ProjRemark,RemarkCode,DepthStratumCode,year,population,CharacteristicName,UnitCode,SampleFraction,NormResult
249400,SUNSET (MARLBR),1,Pelagic,42.91780,-72.68330,MARLBORO,AcidLake,2004-08-10,1,745.0,PlasticKemm,10.0,Reg,PH_AIR-EQ,NaN,6.88,Y,NaN,NaN,H,2004,1015.0,Air-equilibrated pH,None,NaN,0.581509
57330,CRYSTAL (BARTON),1,Pelagic,44.73280,-72.15330,BARTON,LakeAsmt,2013-08-09,1,1122.0,Hydrolab,21.0,Reg,DO%,NaN,73.30,Y,NaN,NaN,NaN,2013,2728.0,Dissolved Oxygen Saturation,%,NaN,0.406545
149083,LITTLE MUD (MTTABR),1,Pelagic,43.31640,-72.93670,MOUNT TABOR,AcidMisc,1982-10-05,1,1615.0,Thermometer,0.5,Reg,TEMPC,NaN,16.00,Y,NaN,NaN,NaN,1982,NaN,Temperature,deg C,NaN,0.560284
217892,SHELBURNE,1,Pelagic,44.39220,-73.16080,SHELBURNE,Laymon,1989-06-08,1,1004.0,Secchi,NaN,Reg,SECCHI,NaN,0.70,Y,NaN,NaN,NaN,1989,5787.0,Secchi transparency,m,NaN,0.043699
118483,HIGH (SUDBRY),1,Pelagic,43.75332,-73.15336,SUDBURY,Laymon,2020-07-08,1,930.0,Hose,11.0,Reg,CHLA,NaN,3.78,Y,NaN,NaN,NaN,2020,NaN,Chlorophyll-a,ug/l,NaN,0.014985

The size of the survey_data dataframe
columns: 36
rows   : 773

,LakeID,Description,Lat,Long,Town,Shape_Length,Shape_Area,TREE_CANOPY_acres,GRASS_SHRUBS_acres,BARE_SOIL_acres,WATER_acres,BUILDINGS_acres,ROADS_acres,OTHER_PAVED_acres,RAILROADS_acres,Ag_Crops_acres,Ag_Hay_acres,Ag_Pasture_acres,Ag_Total_acres,Imp_Bare_Soil_acres,Imp_Buildings_acres,Imp_Other_Paved_acres,Imp_Road_acres,Imp_Railroad_acres,Imp_Total_acres,Shrub_Shrubs_acres,Shrub_Total_acres,TC_Coniferous_acres,TC_Deciduous_acres,TC_Total_acres,Wet_Emergent_acres,Wet_Forested_acres,Wet_Scrub_Shrub_acres,Wet_Total_acres,from_file,2016_population
493,ELLIGO,Flowline100ft,44.59381,-72.35560,GREENSBORO,20402.343101,6.193962e+05,112.620451,31.800560,0.046826,7.441814,0.028850,1.084297,0.010070,0.0,2.247068,2.334719,0.297185,4.878972,0.052142,0.043871,0.009498,1.921813,0.0,2.027323,9.748049,9.748049,50.145085,62.687904,112.832988,23.929536,34.808030,3.971489,62.709055,AOIs_ELLIGO.xls,721.0
16,PARKER,Flowline100ft,44.71926,-72.23425,GLOVER,59014.335835,1.851257e+06,269.843787,162.588109,0.187923,19.113634,0.479013,3.658637,1.532545,0.0,0.479587,88.985634,3.196648,92.661869,0.239611,0.489661,1.612350,4.416077,0.0,6.757698,23.844480,23.844480,154.496404,116.006146,270.502550,42.978349,114.999204,22.794412,180.771965,AOIs_PARKER.xls,1086.0
549,NICHOLS,Waterbody100ft,44.45670,-72.33830,WOODBURY,8554.819949,1.298689e+05,29.726979,1.177085,0.000000,1.010412,0.096309,0.058996,0.016432,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.119869,0.048770,0.231349,0.0,0.399988,0.000000,0.000000,19.438251,10.334613,29.772863,0.161195,4.200927,0.101752,4.463873,AOIs_NICHOLS.xlsx,886.0
302,LOWER,Watershed,44.34970,-73.08780,HINESBURG,26047.212045,1.419397e+07,2262.921428,873.129888,1.232066,264.669038,20.604418,31.925842,52.917103,0.0,0.352495,501.068870,20.016091,521.437456,1.411696,22.319624,61.090375,49.035988,0.0,133.857683,23.555585,23.555585,722.678670,1547.329626,2270.008296,85.649976,342.277433,16.014874,443.942283,AOIs_LOWER.xls,4537.0
276,GREAT AVERILL,Buffer250ftWaterbody,44.98632,-71.70010,NORTON,19448.466037,7.034570e+05,139.436657,20.627769,0.965254,4.366407,2.461166,3.069477,2.879329,0.0,0.000000,0.000000,0.000000,0.000000,1.289840,2.708890,3.651379,4.488589,0.0,12.138698,0.000000,0.000000,61.533065,78.220571,139.753636,5.345247,30.894696,5.960921,42.200864,AOIs_GREATAVERILL.xls,159.0

In [3]:
# first we need to melt the survey data
chem_data['VisitDate'] = pd.to_datetime(chem_data['VisitDate'])
chem_data_to_merge = chem_data[((chem_data['VisitDate'].dt.year <= 2016) & (chem_data['VisitDate'].dt.year >= 2013))]

survey_data_melted = pd.melt(survey_data.drop(['from_file', '2016_population', 'Shape_Area', 'Shape_Length'], 
                            axis=1), id_vars=['LakeID', 'Description', 'Lat', 'Long', 'Town'],
                            var_name='category',
                            value_name='acres')
print(survey_data_melted.shape)
survey_data_melted.head()

(20871, 7)

,LakeID,Description,Lat,Long,Town,category,acres
0,HORSE,Watershed,44.6169,-72.2108,GREENSBORO,TREE_CANOPY_acres,468.319079
1,HORSE,Flowline100ft,44.6169,-72.2108,GREENSBORO,TREE_CANOPY_acres,4.545867
2,HORSE,Waterbody100ft,44.6169,-72.2108,GREENSBORO,TREE_CANOPY_acres,6.338120
3,HORSE,Buffer100ftWBFL,44.6169,-72.2108,GREENSBORO,TREE_CANOPY_acres,10.868234
4,HORSE,Buffer250ftWaterbody,44.6169,-72.2108,GREENSBORO,TREE_CANOPY_acres,23.735053

In [4]:
# combine with chem_data
data = survey_data_melted.merge(chem_data_to_merge, on=['LakeID', 'Lat', 'Long', 'Town'], how='inner')
data = data[data['acres'] != 0]
print(data.shape)
data.head()

(2052689, 29)

,LakeID,Description,Lat,Long,Town,category,acres,LakeStationNo,LakeStationType,ProjectID,VisitDate,VisitNumber,StartTime,CollectionMethodID,Depth,ActivityCategory,CharacteristicID,Symbol,Result,Calcs,ProjRemark,RemarkCode,DepthStratumCode,year,population,CharacteristicName,UnitCode,SampleFraction,NormResult
0,LILY (VERNON),Watershed,42.73693,-72.50901,VERNON,TREE_CANOPY_acres,284.578844,1,Pelagic,LakeAsmt,2013-08-02,1,1100.0,Secchi,NaN,Reg,SECCHI,NaN,2.00,Y,NaN,NaN,NaN,2013,2193.0,Secchi transparency,m,NaN,0.126029
1,LILY (VERNON),Watershed,42.73693,-72.50901,VERNON,TREE_CANOPY_acres,284.578844,1,Pelagic,LakeAsmt,2013-08-02,1,950.0,Hydrolab,0.3,Reg,CHLAPROBE,NaN,1.90,Y,NaN,NaN,NaN,2013,2193.0,Chlorophyll-a (probe),ug/l,NaN,0.012601
2,LILY (VERNON),Watershed,42.73693,-72.50901,VERNON,TREE_CANOPY_acres,284.578844,1,Pelagic,LakeAsmt,2013-08-02,1,950.0,Hydrolab,0.3,Reg,COND,NaN,15.00,Y,NaN,NaN,NaN,2013,2193.0,Conductivity,umho/cm,NaN,0.001421
3,LILY (VERNON),Watershed,42.73693,-72.50901,VERNON,TREE_CANOPY_acres,284.578844,1,Pelagic,LakeAsmt,2013-08-02,1,950.0,Hydrolab,0.3,Reg,PH,NaN,4.89,Y,NaN,NaN,NaN,2013,2193.0,pH,None,NaN,0.170312
4,LILY (VERNON),Watershed,42.73693,-72.50901,VERNON,TREE_CANOPY_acres,284.578844,1,Pelagic,LakeAsmt,2013-08-02,1,950.0,Hydrolab,0.3,Reg,TEMPC,NaN,24.69,Y,NaN,NaN,NaN,2013,2193.0,Temperature,deg C,NaN,0.868440

In [18]:
select = alt.selection_single(fields=['category'])
select_opacity = alt.condition(select, alt.value(1), alt.value(.2))

select_measure = alt.selection_single(fields=['CharacteristicID'])
select_chem_opacity = alt.condition(select_measure, alt.value(1), alt.value(.2))


survey_for_chart = data[['Description', 'category', 'acres']].drop_duplicates().groupby(['Description', 'category'])\
    .sum().reset_index()

survey_for_result = data[['LakeID', 'Description', 'category', 'CharacteristicID', 'CharacteristicName', 'UnitCode','NormResult']].drop_duplicates()\
    .groupby(['LakeID', 'Description', 'category', 'CharacteristicID', 'CharacteristicName', 'UnitCode'])\
    .mean().reset_index()


acres = alt.Chart(survey_for_chart).mark_bar().encode(
    x=alt.X('category:N', sort='x'),
    y=alt.Y('sum(acres):Q'),
    color=alt.Color('Description:N'),
    tooltip=[alt.Tooltip('category'), alt.Tooltip('acres', title='total acres')],
    opacity=select_opacity
).properties(
    width=600
).add_selection(
    select
).interactive()

measures = alt.Chart(survey_for_result).mark_bar(strokeWidth=20, opacity=.001).encode(
        x=alt.X('CharacteristicID:N', sort='x'),
        y=alt.Y('mean(NormResult):Q', scale=alt.Scale(domain=[0, 1])),
        tooltip=[alt.Tooltip('CharacteristicName'), alt.Tooltip('UnitCode'), alt.Tooltip('mean(NormResult)', title='Mean NormResult')],
        opacity=select_chem_opacity
    ).properties(
        width=600
    ).add_selection(
        select_measure
    ).transform_filter(
        select
    ).interactive()

(acres & measures)

alt.VConcatChart(...)